    </main>

    <footer>
        <% 
            var currentTime = new Date();
            var year = currentTime.getFullYear();
        %>
        <p>Copyright &copy; <%= year %></p>
    </footer>
</body>
</html>