<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="styles/style.css">
    <title>To Do</title>
</head>
<body>
    <header>
        <div class="navbar">
            <ul>
                <a href="/"><li>&#128197; Today</li></a>
                <a href="/work"><li>&#128188; Work</li></a>
            </ul>
        </div>
    </header>

    <main>
