<%- include("header.ejs") %>

<p class="list-title">Work list</p>

<% if (locals.workList) { %>
    <% for( let index = 0; index < workList.length; index++ ) { %>
        <div class="element">
            <p><%= workList[index] %></p>
            <form action="/submitWork" method="POST">
                <input type="hidden" id="listId" name="workListId" value="<%= index %>">
                <button type="submit"><i class='fa fa-trash'></i></button>
            </form>
        </div>
    <% } %>
<% } %>
    
<div class="addItemContainer">
    <form action="/addWork" method="post">
        <input type="text" name="addItem" class="addItem" autocomplete="off" placeholder="Add.." autofocus>
        <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </form>
</div>

<%- include("footer.ejs") %>